<h1>Users</h1>
<form (ngSubmit)="searchUser($event)" #heroForm="ngForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Search user" name="search" [(ngModel)]="search">
    <!-- <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>
</form>

<mat-list>
  <app-user-list-view *ngFor="let user of users | async" [user]="user" (ageUpdate)="updateUser($event)"></app-user-list-view>
</mat-list>
