<div *ngIf="user$ | async as user">
  <h3>Howdy, {{ user.displayName }}</h3>
  <img *ngIf="user.photoURL" [src]="user.photoURL">
  <p>UID: {{ user.uid }}</p>
  <p>Favorite Color: {{ user?.favoriteColor }} </p>


  <div *ngIf="auth$ | async as authenticated">
    <ng-container [ngTemplateOutlet]="authenticated.loggedIn ? loggedIn : guest"
                  [ngTemplateOutletContext]="{me:authenticated.user, user: user}"></ng-container>
  </div>
</div>

<ng-template #loggedIn let-user="user" let-me="me">
<div>
  <p>Stuff</p>
  <pre>{{me.uid | json: 2}}</pre>
  <pre>{{user.uid | json: 2}}</pre>
</div>
  <p *ngIf="me.uid == user.uid"> This is you! </p>
</ng-template>

<ng-template #guest>

</ng-template>
